body {
  font-family: Arial, sans-serif;
  background-color: #ffaeff;;
  margin: 0;
  padding: 0px;
}

header {
  background-color: #d572e2;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
}
nav {
  background-color: #f1f1f1;
  overflow: hidden;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
}
nav a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #000000;
}

footer {
  background-color: #ffaeff;
  color: #000000;
  text-align: center;
  padding: 15px;
}