body {
  font-family: Arial, sans-serif;
  background-color: #7e72e2;
  margin: 0;
  padding: 0px;
}

header {
  background-color: #602cb4;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
}
nav {
  background-color: #602cb4;
  overflow: hidden;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
}
nav a:hover {
  background-color: #555;
}
